* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}

html {
    width: 100%;
    height: 100vh;
}

header {
    padding: 2.5rem;
    display: flex;
    justify-content: space-between;
    background-size: cover;
    align-items: center;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    top: 0;
    position: sticky;
}

header img {
    width: 2rem;
    height: auto;

}

.section1 {
    padding: 15rem;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(img/Captura\ de\ Tela\ \(9\).png);

}


.section1 h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: left;

}

.div-section1 {
    margin-bottom: 5rem;
    text-align: left;

}

.section1 p {
    font-size: 1rem;
    font-weight: 600;

    text-align: left;
}

.section1 ul {
    display: flex;
    gap: 5rem;
    align-items: left;
    text-align: left;

}

.section1 a {
    color: black;
    font-size: 0.7rem;
    font-weight: 500;
}



.section2 {
    padding: 15rem;
    align-items: center;

}


.container-sec2 {
    display: flex;

}

.itenstext h2 {
    text-align: left;
    font-size: 1.6rem;
    font-weight: 600;


}

.itenstext p {
    font-size: 1rem;
    font-weight: 400;
    text-align: left;

}

.itenscaixa {
    display: flex;
    gap: 2rem;


}

.caixa {
    width: 250px;
    height: 350px;
    background-color: black;
    transform: translateX(16rem);

}

.section3 {
    padding: 20rem;
    align-items: center;
}

.container-sec3 {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.section3 img {
    width: 25rem;
    height: auto;
}

.section3 h2 {
    font-size: 2rem;
    font-weight: 600;
    text-align: left;
    margin-bottom: 2rem;

}

.section3 p {
    font-size: 0.7rem;
    font-weight: 600;
    text-align: left;
    margin-bottom: 6rem;

}





.footer {
    background-color: white;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer h2 {
    margin-top: 0;
    flex: 1 1 auto;
}

.footer form {
    flex: 1 1 auto;
    margin: 0 20px;
}

.footer input[type="email"],
.footer input[type="text"] {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.footer button {
    padding: 10px 20px;
    background-color: #ffd700;
    border: none;
    border-radius: 5px;
    color: #333;
    cursor: pointer;
    font-size: 16px;
}

.footer button:hover {
    background-color: #e6c200;
}

.footer nav {
    margin-top: 20px;
}

.footer nav a {
    color: #ffd700;
    text-decoration: none;
    margin: 0 10px;
}

.footer nav a:hover {
    text-decoration: underline;
}

.footer .copyright {
    margin-top: 20px;
    font-size: 14px;
    color: #bbb;
}