* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}

html {
    width: 100%;
    height: 100vh;
}

header {
    padding: 2.5rem;
    display: flex;
    justify-content: space-between;
    background-size: cover;
    align-items: center;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    top: 0;
    position: sticky;
}

header img {
    width: 2rem;
    height: auto;

}

.mobile-menu {
    /*Estilização da caixa Mobile quando aberta*/
    display:none ;
    /*Display: Nenhum*/
    position: fixed;
    /*Posição fixa na parte direita da página*/
    top: 0;
    /*Superior em 0 fazendo a caixa encostar ao topo*/
    right: 0;
    /*Direita em 0 fazendo a caixa encostar a direita*/
    width: 50%;
    /*Largura em porcentagem da caixa*/
    height: 100%;
    /*Altura de 100% da tela*/
    background-color: rgb(0, 0, 0);
    /*Cor de fundo*/
    flex-direction: column;
    /*direção dos itens dentro da caixa */
    align-items: center;
    /*Alinhamento na vertical do itens*/
    font-size: 1.8rem;
    /*tamanho da letra dentro da caixa*/
}

.nav-links-mobile {
    /*Lista não ordenada da versão mobile*/
    display: flex;
    /*Tornando os itens (LISTAS) flexíveis*/
    flex-direction: column;
    /*Estamos direcionando o posicionamento dessas listas*/
    text-align: end;
    /*Alinhando o texto ao centro*/
    gap: 1.2rem;
    /*Espaço entre as listas */
    /* width: 0%; Zeramos a largura podendo retirar essa linha para testar visualizão */
    list-style: none;
    /*Estilo de lista desabilitado*/
    /* padding: 0; Preenchimento zerado, podendo também ser retirado para testes */
}

.nav-links-mobile li {
    /*listas da versão Mobile*/
    border-bottom: 1px solid black;
    /*Bordar inferior de cada lista*/
    padding-bottom: 1.2rem;
    /*Tamanho da borda*/
    
}




.hamburger,
.close {
    font-size: 24px;
    background: none;
    border: none;
    color: #bbb;
    cursor: pointer;
}


.close {
    margin-top: 20px;
    margin-right: 20px;
    display: block;
    align-self: end;
}


.section1 {
    padding: 15rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(img/Captura\ de\ Tela\ \(9\).png);


}


.section1 h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: left;

}

.div-section1 {
    margin-bottom: 5rem;
    text-align: left;

}

.section1 p {
    font-size: 1rem;
    font-weight: 600;

    text-align: left;
}

.section1 ul {
    display: flex;
    gap: 5rem;
    align-items: left;
    text-align: left;

}

.section1 a {
    color: black;
    font-size: 0.7rem;
    font-weight: 500;
}



.section2 {
    padding: 15rem;
    align-items: center;

}


.container-sec2 {
    display: flex;

}

.itenstext h2 {
    text-align: left;
    font-size: 1.6rem;
    font-weight: 600;


}

.itenstext p {
    font-size: 1rem;
    font-weight: 400;
    text-align: left;

}

.itenscaixa {
    display: flex;
    gap: 2rem;


}

.caixa {
    width: 250px;
    height: 350px;
    background-color: black;
    transform: translateX(16rem);

}

.section3 {
    padding: 20rem;
    align-items: center;
}

.container-sec3 {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.section3 img {
    width: 25rem;
    height: auto;
}

.section3 h2 {
    font-size: 2rem;
    font-weight: 600;
    text-align: left;
    margin-bottom: 2rem;

}

.section3 p {
    font-size: 0.7rem;
    font-weight: 600;
    text-align: left;
    margin-bottom: 6rem;

}





.footer {
    background-color: white;
    color: #fff;
    padding: 5rem;
    text-align: center;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer h2 {
    margin-top: 0;
    flex: 1 1 auto;
    color: black;
}

.footer form {
    flex: 1 1 auto;
    margin: 0 20px;
}

.footer input[type="email"],
.footer input[type="text"] {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.footer button {
    padding: 8px 20px;
    background-color: black;
    border: none;
    border-radius: 0px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 2.8rem;
}

.footer button:hover {
    background-color: rgba(0, 0, 0, 0.457);
}

.footer nav {
    margin-top: 20px;
}

.footer nav a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
}

.footer nav a:hover {
    text-decoration: underline;
}

.footer .copyright {
    margin-top: 20px;
    font-size: 14px;
    color: #bbb;
}

.containerfooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;

}

.containerfooter i {
    font-size: 1rem;
    font-weight: 600;
    color: black;
    margin: 0.5rem;
}

@media (max-width: 830px) {
    header {
        padding: 2rem;
        top: 0;
        position: sticky;

    }

    .section1 {
        padding: 5rem;
    }

    .section1 h1 {
        font-size: 2rem;
        text-align: center;
    }

    .div-section1,
    .section1 p,
    .section1 ul,
    .section1 a {
        text-align: center;
    }

    .section1 ul {
        flex-direction: column;
        gap: 2rem;
    }

    .section2 {
        padding: 10rem;
    }

    .container-sec2 {
        flex-direction: column;
        align-items: center;
    }

    .itenstext,
    .itenscaixa {
        text-align: center;
        flex-direction: column;
    }

    .caixa {
        transform: translateX(0);
    }

    .section3 {
        padding: 10rem;
    }

    .container-sec3 {
        flex-direction: column;
    }

    .section3 h2 {
        text-align: center;
    }

    .section3 p {
        text-align: center;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer h2,
    .footer form {
        flex: none;
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }

    .containerfooter {
        flex-direction: column;
        margin-top: 2rem;
    }
}

@media (max-width: 768px) {

    .section1,
    .section2,
    .section3 {
        padding: 10rem;
    }

    .footer-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer form {
        margin: 20px 0;
    }

    .containerfooter {
        flex-direction: column;
    }
}

@media (max-width: 480px) {

    .section1,
    .section2,
    .section3 {
        padding: 5rem;
    }

    .footer-content {
        text-align: left;
    }
}

  /* menu hambuguer*/
  @media(max-width: 834px) {
        
    html {
        font-size: 12px;
    }
    
    .nav-links-mobile a {
        color: white;
        font-size: 1.5rem;
        
        
    }
    
    .closeButton i {
        color: white;
        
    }
    
    header img {
        width: 7rem;
        height: auto;
    }
    

    .hamburger {
        display: block;
        
    }
    
    .mobile-menu {
        z-index: 999;
    }
    
    #btn-header {
        display: none;
    }
    
    
    .cad-mobile button {
        width: 10rem;
        height: 4rem;
        border-radius: 5px;
        background-color: white;
        color: black;
    }
    
    
    
    .cad-mobile button a {
        text-decoration: none;
        color: black;
        
    }
    
    .nav {
        display: none;
    }
    
}


